## Generated Data ##
/data_generator/data.json
/data_generator/data.csv
/data_generator/dictionary.js

## Bundles ##
/client/dist/bundle.js
/client/dist/bundle-server.js

## Tests ## 
/tests/
/Coverage/

##  Node modules ##
./node_modules/

## Webpack ##
webpack.config.js

## Proxy Bundles ##
/proxy/public/services/sidebar.js
/proxy/templates/services/sidebar-server.js

##React Libraries ##
/proxy/public/lib/*