## NPM ##
node_modules/

## Compiled Files ##
**/bundle.js
ZagatData60.json

# Generated Data ##
data_generator/data.json
data_generator/data.csv

## .DS_Store ##
**/.DS_Store

## Benchmarking Script ##
/data_generator/benchmark.js

## New Relic ##
/newrelic.js
/newrelic_agent.log

## Proxy Bundles ##
/proxy/public/services/sidebar.js
/proxy/templates/services/sidebar-server.js

## Bundles ##
/client/dist/bundle.js
/client/dist/bundle-server.js

## Google Maps API Key ##
/map.config.js